/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-subscription:before {
    background-image: url(../images/icons/787878/toolbar.svg);
}
.toolbar-icon-system-admin-subscription:active:before,
.toolbar-icon-system-admin-subscription.is-active:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}
